@import '../../styles/var';

* {
  margin: 0;
  padding: 0;
}

.winner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e7eca0;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
}

.winner-rectangle {
  background-color: #b6e39a;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 80%;
  max-width: 750px;
  margin: 30px auto;

  @media screen and (min-width: 768px) {
    padding: 40px 50px;
    margin: 60px auto 30px auto;
  }
  
}

.happy-popcorn {
  width: 200px;
  height: 200px;
  margin-bottom: -2rem;

  @media screen and (min-width: 768px) {
    width: 300px;
    height: 300px;
    margin-bottom: -4rem;
  }
}

.text {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}
