@import '../../styles/var';

* {
    margin: 0;
    padding: 0;
    
  }
  
  .disney-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #C5F4A8;
    padding-bottom: 10px;
  }
    
  .disney-rectangle {
    background-color: #9CD9E7;
    padding: 40px 50px;
    text-align: center;
    border-radius: 20px;
    width: 45%;  
    max-width: 750px;
    height: 350px;
    margin: 80px 0px 80px 90px;   
  }
  
  .disney-text {
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
    color: #f5f4f5;
    font-family: 'Merriweather Sans', sans-serif;
  }
    
  .button-play {
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold; 
    text-align: center;
    width: 150px;
    height: 45px;
    font-size: 20px;
    background-color: #76269B;
    color: #f5f4f5;
    margin-top: 100px;
  }

  .category-popcorn{
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: -70px;
    left: 0;
    }