// _juego.scss
.juego-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh; 
  }
  
  .question-box {
    background-color: #D9D9D9;
    padding: 20px;
    height: 200px;
    width: 80%;
    max-width: 650px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.425);
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  
  .option-box {
    width: 300%;
    height: 30px;
    background-color: #D9D9D9;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

    &:hover {
       
        background-color: #BC7AF9;
        color: #000000;
        transform: translateY(-3px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  }
}