// _juego.scss
@import '../../styles/var' ;
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


body {
  min-height: 100%;
  display: flex;
  background-image: url('../../../public/fondojuego.png');
  flex-direction: column;
  justify-content: space-between; 
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center center; 
  font-family: 'Merriweather Sans', sans-serif;
  min-height: 100vh; 
  display: flex;
  align-items: center; 

}
.juego-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-size: 100% auto;
  background-repeat: repeat-y;
  padding: 5px;
  box-sizing: border-box;
  margin-top: -3%; 
}
  .question-box {
    background: radial-gradient(circle, #B01111, #660000);
    padding: 20px;
    height: 200px;
    width: 80%;
    margin-top: 10%;
    max-width: 650px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.425);
    position: relative;
    color: white;
}

.question-text {
    font-size: 24px;
}

.question-overlay {
    position: absolute;
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
    background: transparent;
    border: 2px dashed yellow;
    border-radius: 10px;
    pointer-events: none;
}

  
  .options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  
  .option-box {
    width: max-content;
    min-width: 340px;
    max-width: 300px;
    height: 30px;
    background-color: #D9D9D9;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

    &.correct {
      background-color: #8effa1; 
    }
  
    &.incorrect {
      background-color: #ff8c8c; 
    }

    &:hover {
      
        background-color: #BC7AF9;
        color: #000000;
        transform: translateY(-3px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  }
}