

@import  url(' https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Rowdies:wght@300&family=Ubuntu:wght@400;500;700&display=swap ');

$font-family : ' Poppins ' , ' Nunito ' , ' Rowdies ' ; 

//header color
$header-color: #BC7AF9; 
$button-1-color: #76269B;
$button-2-color: #BC7AF9;

