@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');


$header-color: #BC7AF9;
$button-1-color: #76269B;
$button-2-color: #BC7AF9;
$button-3-color: #9CD9E7;

