@import './var';

.buttons-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
 
}

.button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold; 
  text-align: center;
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-bottom: 10px;
}

.button-1,
.button-2 {
  color: white;
  padding: 8px 35px; 
} 

.button-1 {
  background-color: $button-1-color;

}

.button-2 {
  background-color: $button-2-color;

}

@media screen and (min-width: 768px) {
  
  .buttons-container {
    flex-direction: row; 
  }

  .button {
    width: auto; 
  }

  .button-1{
    align-self: flex-start;
    margin-right: 2%;
  }

  .button-2 {
    align-self: flex-end;
    margin-right: 2%;
    
  }
}

@media screen and (max-width: 767px) {
  .button {
    padding: 8px;
    font-size: 16px;
  }
}