

.Categoria {
    background-color: #C5F4A8;
    max-width: 100%;
   
}

.ruleta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
   
}