@import './var';

.site-header {
    margin: 0; 
    padding: 8px 0 0 0;
    width: 100%;  
    height: 5rem; 
    background-color: $header-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    font-size: 1.5rem;  
    font-weight: bold;  
    font-family: 'Merriweather Sans', sans-serif;
  } 