@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

.wheel{
    background-color: #9CD9E7;
}

.boton {
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 110px;
    height: 40px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #76269B;
    color: white;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .boton:hover {
    background-color: #5a1a7a; 
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
  }

.onStopSpinning{
    background-color: #76269B;
}