@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

.wheel{
    background-color: #9CD9E7;
}


.boton {
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 110px; 
    height: 40px; 
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #76269B;
    color: white;
    z-index: 10;
}

.onStopSpinning{
    background-color: #76269B;
}