@import '../../styles/var';

.avatar-header {
  background-color: #BC7AF9;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.3em;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C5F4A8;
  font-family: $font-family;
  font-weight: bold;
  min-height: 100vh;
  width: 100%;
  padding-top: 60px; // Compensar la altura del header fijo
  box-sizing: border-box;
}

.avatar-subtitle {
  color: #000000;
  font-size: 1.5em;
  margin-top: 70px; 
  text-align: center;
}

.avatar-content {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
  box-sizing: border-box;
}

.avatar-name-input {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  
  input {
    color: #76269B;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    font-size: 1.2rem;
    
    &:focus {
      outline: none;
    }
  }
}

.avatar-selection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 120px;
}

.avatar-option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  

  
  img {
    width: 100px; // Ajusta esto según el tamaño deseado de tus avatares
    height: auto; // Esto mantendrá la relación de aspecto de la imagen
    border-radius: 50px;
  }
  
  &.selected {
    border: 3px solid blue; // Asegúrate de que este color sea visible contra el fondo
    border-radius: 50px; // Si tus imágenes ya tienen border-radius, el borde también lo seguirá
    box-sizing: border-box;
  }
}

.popcorn-image {
  width: 350px;
  height: 350px;
  margin: 6rem 49rem -35rem 2rem;
  padding: 5rem 2rem 1rem 0rem;
}

.ready-button {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #76269B;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  
  &:hover {
    background-color: darken(#76269B, 10%);
  }
}
