@import '../../styles/var';

$color-header-background: #BC7AF9;
$color-wrapper-background: #C5F4A8;
$color-text: #FFFFFF;
$color-input: #76269B;
$color-button-background: #76269B;
$color-avatar-border: #76269B;
$color-avatar-shadow: rgba(0, 0, 0, 0.3);
$font-size-large: 2.3em;
$font-size-medium: 1.5em;
$font-size-small: 1.2rem;
$avatar-size: 100px;
$button-border-radius: 5px;
$avatar-border-radius: 50%;
$transition-speed: 0.3s;



.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: 
  linear-gradient(to top, rgba(106, 178, 61, 0.5), transparent), /* Cambia #00FF00 al verde que desees */
  radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#a5d788 68% 70%,#0000 72%) 97px 97px/calc(2*97px) calc(2*97px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#a5d788 68% 70%,#0000 72%) 97px 97px/calc(2*97px) calc(2*97px),
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#a5d788 68% 70%,#0000 72%) 0 0/calc(2*97px) calc(2*97px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#a5d788 68% 70%,#0000 72%) 0 0/calc(2*97px) calc(2*97px),
      repeating-conic-gradient(#c5f4a8 0 25%,#0000 0 50%) 0 0/calc(2*97px) calc(2*97px),
      radial-gradient(#0000 66%,#a5d788 68% 70%,#0000 72%) 0 calc(97px/2)/97px 97px
      #c5f4a8;
  font-family: $font-family;
  font-weight: bold;
  min-height: 100vh; /* Establece la altura mínima para abarcar toda la ventana */
  width: 100%;
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden; /* Evita desbordamiento */
}

.avatar-subtitle {
  color: #000000;
  font-size: $font-size-medium;
  margin-top: 90px;
  text-align: center;
}

.avatar-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.avatar-option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  img {
    width: $avatar-size;
    height: auto;
    border-radius: $avatar-border-radius;
    transition: transform $transition-speed ease, box-shadow $transition-speed ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 5px 15px $color-avatar-shadow;
    }
  }

  &.selected {
    img {
      border: 3px solid $color-avatar-border;
      box-shadow: 0 5px 15px $color-avatar-shadow;
    }
  }
}
.popcorn-image {
  width: 320px;
  height: 320px;
  margin: 6rem 49rem -35rem 2rem;
  padding:12rem 16rem 0rem 0rem;
}

.ready-button {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: $color-button-background;
  color: $color-text;
  border: none;
  border-radius: $button-border-radius;
  padding: 10px 20px;
  font-size: $font-size-medium;
  cursor: pointer;
  
  &:hover {
    background-color: darken($color-button-background, 10%);
  }
}
