@import '../../styles/var';

$color-background: #9CD9E7;
$color-primary: #BC7AF9;
$color-secondary: #76269B;
$color-white: #fff;
$color-error: #ff3860;
$color-hover-primary: #7a57d1;
$color-link: #159AB8;

$font-size-large: 3rem;
<<<<<<< HEAD
<<<<<<< HEAD
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;
=======
$font-size-medium: 1.3rem;
$font-size-small: 1rem;
>>>>>>> 60f34b3b9108d471d1d5210197cd00cd21edd38a
=======

$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;
>>>>>>> 0d58b8d2b55a978e07be717d014a7367ec0cf25a
$border-radius: 20px;
$box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-background;
}

.login-container {
  display: flex;
  width: 50%;
  
  min-height: 70vh;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  overflow: hidden;

  .login-side {
    background: linear-gradient(to bottom, $color-primary, $color-secondary);
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 3.5rem 2rem;
    color: $color-white;

    .popcorn-image {
      width: 350px;
      height: 350px;
      align-self: flex-start; 
      margin: -1rem -1rem -5rem -5rem; 
      padding: 5rem 2rem 0rem 0rem;
    }

    .brand-title {
      margin-bottom: 1rem;
      font-size: $font-size-large;
      font-family: $font-family;
      text-align: center;
      font-weight: 800; 
      text-shadow: 2px 2px 4px rgba(118, 38, 155, 0.5);
    }
    
    .welcome-message {
      font-size: $font-size-medium; 
      font-weight: bold; 
      //font-style: italic;
      font-family: $font-family;
    }
  }

  .login-form {
    flex: 1; 
    background-color: $color-white; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .para-jugar {
      font-weight: bold; 
      font-size: $font-size-medium;
      margin-bottom: 50px; 
      color: $color-secondary;
      font-family: $font-family;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      label {
        font-size: $font-size-medium;
        margin-bottom: 0.5rem;
        font-family: $font-family;
      }

      input {
        padding: 0.8rem;
        color:$color-secondary;
        border: 2px solid #ccc;
        border-radius: $border-radius;
        font-size: $font-size-small;
      }
    }

    .login-button {
      background-color: $color-secondary;
      color: $color-white;
      padding: 1rem;
      border-radius: $border-radius;
      font-size: $font-size-medium;
      margin-top: 2rem;
      cursor: pointer;
      border: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($color-hover-primary, 10%);
      }
    }

    .error-message {
      color: $color-error;
      margin-bottom: 1rem;
      font-size: 0.85rem;
    }
  }
  .login-link {
    color: $color-link; 
    text-decoration: none;
    font-size: $font-size-small;
    margin-top: 1rem;
    transition: color 0.3s ease;
  
    &:hover {
      color: darken($color-primary, 10%);
    }
  }


}
