$color-white: #f2ebf3;
$color-background: #9CD9E7;

.Categoria {
    //background-color: #9CD9E7;
    //background: linear-gradient(to top , $color-white, $color-background);
    background-color: $color-white;
    max-width: 100%;
    //estilo de ondas
    background-size: cover; /* Ajusta el tamaño de la imagen según sea necesario */
    background-position: center;
    z-index: -1;
   
}

.ruleta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    padding: 2% 0%;
    width: 100%; 
    min-height: 100vh;
    max-width: 1400px;
    .sorprendido{
        width: 350px;
        height: 350px;
        margin: -25rem 60em -4.5em 1rem;
        padding:5rem 2rem 1rem 0rem;
    }
    
}
.group{
    width: 180px;
    height: 180px;
    margin: -32rem 55em -4.5em 1rem;
    padding:5rem 2rem 1rem 0rem;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    height: 100vh; // Ajusta esto según tus necesidades
  }

